@addTagHelper *, MvcLab
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
@*ViewComponents Test1*@
@*<div class="text-center">
    <vc:taipei-weather></vc:taipei-weather>
</div>*@
<div class="d-flex justify-content-center text-center">
    <vc:weather-block zone-name="臺北市"></vc:weather-block>
    <vc:weather-block zone-name="臺中市"></vc:weather-block>
    <vc:weather-block zone-name="高雄市"></vc:weather-block>
</div>
